
.content-section {
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.header {
  padding: 92px 52px 99px;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  align-items: center;
}

.header__logo {
  display: block;
  width: 137px;
  height: 108px;
  justify-self: center;
  align-self: center;
  border: none;
}

.header__menu {
  display: flex;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__adress {
  font-size: 18px;
  line-height: 1.35;
  justify-self: end;
}

.header__menu-list .header__link_active {
  border-bottom: none;
}

.header__menu-list .header__menu-list-item-no-bullit {
  list-style: none;
}

.cover {
  
}

.lots {
  
}

.about {
  
}

.footer {
  
}